# Python
__pycache__/
*.py[cod]
*.pyc

# Virtual environments
.venv/
venv/
env/

# Django
db.sqlite3
*.log

# Environment variables
.env
.env.*

# Media uploads
media/

# Editor / OS
.vscode/
.idea/
.DS_Store